.ConnectModal {
  display: flex;
  margin-top: 100px;
  border: 1px;
  border-width: 20px;
  border-radius: 100px;
}

.ConnectHeadMod {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  color: #a970fd;
}

.ConnectBodyMod {
  background-color: #3f3f3f;
}

.ConnectFootMod {
  display: flex;
  justify-content: center;
  text-align: center;
}

.ConnectlogoMod {
  height: 100px;
  width: 100px;
  margin: 20px;
}

.ConnectServiceCard {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  align-items: stretch;
  border: #a970fd;
  border-width: 2px;
  border-radius: 10px;
  background-color: #18181b;
  box-shadow: 7px 7px 2px -2px rgba(122, 122, 122, 0.67);
  margin: 10px 0px 10px 0px;
}

.DeleteZap {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  justify-content: space-between;
  align-items: center;
  border: #a970fd;
  border-width: 2px;
  border-radius: 10px;
  background-color: #18181b;
  box-shadow: 7px 7px 2px -2px rgba(122, 122, 122, 0.67);
}

.ServZap {
  display: flex;
  flex-direction: row;
  margin: 10px 10px 10px 10px;
  padding: 5px 10px 5px 10px;
  justify-content: space-evenly;

  align-items: baseline;
  border: #a970fd;
  color: #7e7e7e;
  border-width: 2px;
  border-radius: 10px;
  background-color: #242424;
  box-shadow: 7px 7px 2px -2px rgba(122, 122, 122, 0.67);
}

.GetzapModal {
  display: flex;
}

.ZapCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  justify-content: space-evenly;
  align-items: center;
  border: #a970fd;
  border-width: 2px;
  border-radius: 10px;
  background-color: #18181b;
  box-shadow: 7px 7px 2px -2px rgba(122, 122, 122, 0.67);
  margin: 10px 0px 10px 0px;
}

.Itemrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ConnectionMarquer {
  margin: 10px 5px 10px 5px;
  padding: 15px 5px 15px 5px;
}

.ZapButton {
  color: #a970fd;
  border-color: #1f1f23;
  background-color: #1f1f23;
  margin: 10px 0px 10px 0px;
  width: 100%;
}

.ZapButton:hover {
  border-color: #1f1f23;
  color: #a970fd;
  background-color: #3a3a3a;
}
