.Modal {
  display: flex;
  margin-top: 100px;
  border: 1px;
  border-width: 20px;
  border-radius: 100px;
}

.HeadMod {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #18181b;
  color: #eeeef0;
}

.BodyMod {
  color: rgb(63, 63, 63);
}

.FootMod {
  display: flex;
  justify-content: center;
  text-align: center;
}

.logoMod {
  height: 100px;
  width: 100px;
  margin: 20px;
}
