.WidgetCard {
  background-color: #1f1f23;
  box-shadow: 7px 6px 5px 2px rgba(99, 99, 99, 0.77);
  margin: 10px 30px 10px 40px;
  color: #d2d2d7;
}

.WeatherWidgetBody {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
}
